<!-- itens.component.html -->
<div class="box" *ngFor="let item of dataList">
  <div class="rpa">
    <div class="overlap-group">
      <div class="rectangle"></div>
      <div class="div" (click)="handleMenuItemClick()"></div>
      <div class="text-wrapper">{{ item.nome }}</div>
      <div class="text-wrapper-2">{{ item.Maquina }}</div>
      <div class="text-wrapper-3">{{ item.area }}</div>
      <div class="text-wrapper-4">{{ item.status }}</div>
      <div class="text-wrapper-5">{{ item.hora | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
    </div>
  </div>
</div>
