

.box {
    width: 450px;
    height: 305px;
    }
    .box .rpa {
    display: grid;
    position: fixed;
    width: 462px;
    height: 305px;
    top: 14rem;
    left: 30rem;
    }
    .box .overlap-group {
    position: relative;
    width: 450px;
    height: 305px;
    }
    .box .rectangle {
    position: absolute;
    width: 449px;
    height: 300px;
    top: 0;
    left: 1px;
    background-color: #3aaa35c7;
    border-radius: 16px;
    box-shadow: 0px 4px 19px #00000040;
    }
    .box .div {
    position: absolute;
    width: 450px;
    height: 114px;
    top: 191px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 16px;
    }
    .box .text-wrapper {
    position: absolute;
    top: 74px;
    left: 177px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    }
    .box .text-wrapper-2 {
    left: 365px;
    position: absolute;
    top: 228px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    }
    .box .text-wrapper-3 {
    position: absolute;
    top: 196px;
    left: 294px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    }
    .box .text-wrapper-4 {
    left: 295px;
    position: absolute;
    top: 228px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    }
    .box .text-wrapper-5 {
    position: absolute;
    top: 194px;
    left: 21px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    }
    .box .text-wrapper-6 {
    position: absolute;
    top: 227px;
    left: 21px;
    font-family: "Jaldi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    } 