.box {
    width: 174px;
    height: 55px;
    }
    .box .group {
    cursor: pointer;
    position: fixed;
    width: 176px;
    height: 55px;
    top: 1rem;
    right: 2rem;
    transition: ease-in-out 0.3s;
    }
    .box .group:hover{
        scale: 1.06;
        transition: ease-in 0.2s;
    }
    .box .overlap-group {
    position: relative;
    width: 174px;
    height: 55px;
    border-radius: 12px;
    }
    .box .rectangle {
    position: absolute;
    width: 174px;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #004976;
    border-radius: 12px;
    }
    .box .text-wrapper {
    position: absolute;
    top: 10px;
    left: 35px;
    font-family: "Istok Web-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    transition: ease-in-out 0.3s;
    }