.box {
    position: relative;
    width: 461px;
    height: 55px;
  }
  
  .group {
    position: fixed;
    width: 465px;
    height: 55px;
    top: 3rem;
    left: 30rem;
  }
  
  .overlap {
    width: 278px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 25px;
    position: absolute;
    height: 55px;
    cursor: pointer;
  }
  
  .text-wrapper {
    position: absolute;
    width: 120px;
    top: 10px;
    left: 19px;
    font-family: "Istok Web-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #868686;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .overlap-group {
    width: 174px;
    left: 287px;
    border-radius: 12px;
    position: absolute;
    height: 55px;
    top: 0;
  }
  
  .rectangle {
    cursor: pointer;
    position: absolute;
    width: 174px;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 12px;
    transition: ease-out 0.2s height;
    
  }
  .rectangle p{
    position: absolute;
    top: -10px;
    left: 10px;
    font-family: "Istok Web-Regular", Helvetica;
    font-weight: 400;
    color: #3e3b3b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal; 
  }
  
  .rectangle.clicked {
    height: 90px;
    transition: ease-in 0.2s height;
  }
  
  .vector {
    position: absolute;
    width: 22px;
    height: 17px;
    top: 18px;
    left: 127px;
    transition: transform 0.3s ease;
  }
  
  .vector.rotate {
    transform: rotate(180deg);
  }
  
  .dropdown {
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 12px;
    width: 174px;
    overflow: hidden;
    transition: ease-out 0.2s height;
  }
  
  .dropdown-item {
    font-family: "Istok Web-Regular", Helvetica;
    font-weight: 400;
    color: #3e3b3b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .dropdown-item:hover {
    background-color: #b5b5b5;
  }
  
  .selected-option {
    margin-top: 10px; 
    font-family: "Istok Web-Regular", Helvetica;
    font-weight: 400;
    color: #3e3b3b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }

 