.box {
  position: relative;
  width: 461px;
  height: 55px;
}

.box .group {
  position: fixed;
  width: 465px;
  height: 55px;
  top: 3rem;
  left: 30rem;
}

.box .overlap {
  width: 278px;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 25px;
  position: absolute;
  height: 55px;
  top: 0;
  cursor: pointer; // Adiciona um cursor indicando que é clicável
}

.box .text-wrapper {
  position: absolute;
  width: 120px;
  top: 10px;
  left: 19px;
  font-family: "Istok Web-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #868686;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .overlap-group {
  width: 174px;
  left: 287px;
  border-radius: 12px;
  position: absolute;
  height: 55px;
  top: 0;
}

.box .rectangle {
  cursor: pointer;
  position: absolute;
  width: 174px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 12px;
  transition: ease-out 0.2s;
}

.box .rectangle.clicked {
    height: 90px;
    transition: ease-in 0.2s;
  }

  .box .div {
    position: absolute;
    top: 10px;
    left: 24px;
    font-family: "Istok Web-Regular", Helvetica;
    font-weight: 400;
    color: #3e3b3b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    z-index: 2; // Adiciona um z-index para garantir que esteja acima do .rectangle
  }


.box .vector {
  position: absolute;
  width: 22px;
  height: 17px;
  top: 18px;
  left: 127px;
  transition: transform 0.3s ease; // Adiciona uma transição suave para o efeito de rotação
}

.box .vector.rotate {
  transform: rotate(180deg);
}
