<div class="box">
    <div class="group">
      <div class="overlap" (click)="handleRectangleClick('Nome')">
        <div class="text-wrapper">Pesquisar</div>
      </div>
      <div class="overlap-group">
        <div class="rectangle" [class.clicked]="isMenuOpen"></div>
        <img class="vector" src="/assets/arrow.png" [class.rotate]="isMenuOpen" />
        <div class="div" [class.open]="isMenuOpen">
          {{ selectedOption }}
        </div>
      </div>
      <div class="overlap-group">
        <div class="rectangle" (click)="handleRectangleClick('Maquina')"></div>
      </div>
    </div>
  </div>
  